button:disabled{
 color: white;
 background-color: gray;
}

button{
    background-color: blue;
}

.list{
    margin-top: 2em;
    text-align: center;
}

.error{
    color: red;
    font-weight: bold;
}