<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ml-2" routerLink="/home">Tutorial Manager</a>
    <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/tutorials" routerLinkActive="active" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="/add" routerLinkActive="active" class="nav-link">Add Tutorial</a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3 mb-5">
    <router-outlet></router-outlet>
  </div>
</div>

<app-toast></app-toast>

<footer class="bg-dark">
  <p class="footer-text">Zach Porras</p>
  <p class="footer-text">Version 2</p>
</footer>
